<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <script src="https://unpkg.com/vue@2"></script>
</head>

<body>
    <div id="app">
        <!--checkout button-->
        <button v-on:click="showCheckout" v-bind:disabled="!cartLength">
            <span class="fas fa-shopping-cart"></span>Checkout
        </button>

        <!--lessons page-->
        <br><br>
        <div id="sub">
            <div v-if="showLesson">
                <div id="info" v-for="Less in Lessons">
                    <h2>Lesson: {{Less.topic}}</h2>
                    <em>Location: {{Less.location}}</em><br><br>
                    <em>Price: £{{Less.price}}</em><br />
                    <h4>No of Spaces: {{Less.space}}</h4>
                    <button v-on:click='addToCart(Less)' v-bind:disabled="!canAddToCart(Less)">
                        <span class="fas fa-cart-plus"></span> Add to cart
                    </button><br><br>
                </div>
            </div>

            <!--checkout page-->
            <div v-else>
                <h1>Checkout</h1>
                <p>
                    <strong>Name:</strong>
                    <input v-model="order.Name" />
                </p>
                <p>
                    <strong>Number:</strong>
                    <input v-model="order.Number" />
                </p>
                <p>
                    <strong>Spaces:</strong>
                    <input v-model="order.Spaces" />
                </p>
                <h3>Order Information</h3>
                <p>Name: {{order.Name}}</p>
                <p>Number: {{order.Number}}</p>
                <p>Spaces: {{order.Spaces}}</p>
                <button @click="confirmOrder">Place Order</button>
            </div>
        </div>
    </div>
    <script>
        let school = new Vue({
            el: '#app',
            data: {
                Lessons: {},
                showLesson: true,
                cart: [],
                order: {
                    Name: "",
                    Number: "",
                    Spaces: "",
                }
            },
            created: function () {

                fetch('https://app-lessons.herokuapp.com/collection/lessons').then(
                    function (response) {
                        response.json().then(
                            function (json) {
                                school.Lessons = json;
                            });
                    })
            },
            methods: {
                //adds to cart and taskes one space off the 'spaces' for each product
                addToCart(Less) {
                    this.cart.push(Less.topic);
                    Less.space = Less.space - 1;
                },
                //checks that spaces for each lesson are greater than 0
                canAddToCart(Less) {
                    return Less.space > 0;
                },
                //increases the number of items in the cart array
                cartCount(topic) {
                    let count = 0
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === topic) {
                            count++
                        }
                    }
                    return count
                },
                //switches between checkout and product page
                showCheckout() {
                    this.showLesson = this.showLesson ? false : true;
                },

                //confirms order with a message
                confirmOrder() {
                    const newOrder = {
                        name: this.order.Name,
                        number: this.order.Number,
                        space: this.order.Spaces
                    };
                    fetch('https://app-lessons.herokuapp.com/collection/orderinfo', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(newOrder),
                    })
                        .then(response => response.json())
                        .then(responseJSON => {
                            console.log('Success:'
                                , responseJSON);
                        });
                },
            },
            computed: {
                //checks number of items in the cart array
                cartLength() {
                    return this.cart.length;
                }
            }
        });
    </script>
</body>

</html>